/* Topbar Position */
.container {
  max-width: 1350px;
  max-height: 100px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Topbar Settings (before login only) **/
.topbar {
  background-color: whitesmoke;
  height: auto;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  z-index: 5;
}

/* Logo Settings */
.logo {
  display: flex;
  height: auto;
  width: 300px;
  align-items: left;
  gap: 0.5rem;
}

/* Menu Settings */
.menu {
  display: flex;
  gap: 1.5rem;
  font-size: 16px;
  font-weight: 400;
}
.menu a {
  color: #374151;
  transition: color 0.2s ease-in-out;
}
.menu a:hover { /**Change color when mouse point towards**/
  color: #2563eb;
}

/** Header Avatar Settings **/
.avatar {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, #3571b4, #7b68bb, #b657aa, #e04584, #f04950);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}

/** Header Wrapped Menu Settings **/
.sub-menu-wrap {
  position: absolute;
  right: 5%;
  width: 500px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  border-radius: 20px;
  z-index: 20;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: whitesmoke;
  padding: 20px;
  margin: 10px;
  height: auto;
  border-radius: 20px;
}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.user-info .text {
  font-size: 16px;
  font-weight: 1000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user-info .email {
  font-size: 14px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user-info .avatar-pfp {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(to right, #3571b4, #7b68bb, #b657aa, #e04584, #f04950);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  margin: 10px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  flex: 1;
}

.sub-menu-link p{
  width: 100%
}

.sub-menu-link img{
  width: 40px;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  font-weight: 600;
}

/** The End of TopBar Settings **/

/**Read-Only Placeholder Settings**/
.readonly {
  color:grey;
}

/****** Main content - Background ******/
.main-content {
  background-image: url("/static/images/mmuaerialview.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
  position: relative;
  z-index: 1;
  min-height: 90vh;
}

/**Content Design Settings for Main Page**/
.content-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 20px;
  background-color: none;
}

.info-box {
  background: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  flex: 1 1 300px;
  max-width: 320px;
  text-align: center;
}

.info-box img { /**Image Size**/
  width: 100%;
  height: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

.info-box h3 { /**Text Box**/
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-box p {
  font-size: 14px;
  color: #444;
}

/**The End of Content Settings for Main Page**/

/* Footer Bar */
footer {
  background-color: whitesmoke;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-logo {
  flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo img {
  width: 275px;
  height: auto;
  object-fit: contain;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}
.footer-section h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 18px;
  margin: 1.5rem 0 1rem;
  color: #374151;
}
.footer-section p {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.6;
}

.footer-links {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.footer-links li {
  margin-bottom: 0.5rem;
}
.footer-links a {
  color: #374151;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.footer-links a:hover {
  color: #2563eb;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}

/** Login Page (login.html) **/
.loginBox {
  background: white;
  padding: 40px;
  width: 450px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.loginBox-img {
  width: 230px;
  height: 110px;
  margin-top: -25px;
  margin-left: 77px;
  margin-right: 100px;
  margin-bottom: -10px;
}

.loginBox h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 15px;
  color: black;
}

.loginBox h2 {
  margin-bottom: 30px;
  color: #003366;
}

/* Input placeholder */
.emailBox,
.passwordBox {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
  text-align: left;
}

.emailBox label,
.passwordBox label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

input[type="text"],
input[type="password"] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

/* Button */
button {
  width: 70%;
  padding: 12px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #BCCCDC;
  color: black;
}

.btn{
  width: 20%;
  padding: 12px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #BCCCDC;
  color: black;
}

.search-button{
  width: 20%;
  padding: 8px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex-end;
  justify-content: center;
}

/* Links */
.loginBox a {
  color: #578FCA;
}

.loginBox a:hover {
  color: #003366;
}

.loginBox p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #444;
  margin-top: 10px;
}
/**The End of Login Page Settings**/

/** Register Page (register.html) **/
.registerBox { /**Size of Register Box**/
  background: white;
  padding: 40px;
  width: 500px;
  height: 590px;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.registerBox-img { /**Logo**/
  width: 230px;
  height: 110px;
  display: block;
  margin: -25px auto -10px auto;
}

.registerBox h1 { /**Font size for h1**/
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 15px;
  color: black;
}

.registerBox h2 { /**Font size for h2**/
  margin-bottom: 30px;
  color: #003366;
}

/** Input placeholder **/
.emailBox,
.passwordBox,
.nameBox {
  font-family: "Georgia";
  margin-bottom: 20px;
  text-align: left;
}

.emailBox label,
.passwordBox label,
.nameBox label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

/* Grid container for two columns */
.register-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 2px;
}

/* Radio buttons center below the grid */
.radio-group {
  text-align: center;
}

/* Links */
.registerBox a {
  color: #578FCA;
}

.registerBox a:hover {
  color: #003366;
}

.registerBox p, b {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #444;
  margin-top: 10px;
}
/**The End of Register Page Settings**/

/**Reset Password Page (resetPassword.html) & Create Class Page (create_class.html)**/
.input-field label,
.select-field label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

.input-field,
.select-field {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
  text-align: left;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}
/**The End of Reset Password Page Settings**/

/* View Papers (view_papers.html) */
.viewPapers-box { /**Size of Register Box**/
  background: white;
  padding: 40px;
  width: 1000px;
  height: auto;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

table {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  border-collapse: collapse;
  background-color: whitesmoke;
  border-radius: 15px;
}

caption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  padding: 10px;
}

/* Header styling */
th {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  font-size: 15px;
  border-bottom: 2px solid black;
  border: 2px solid black;
  text-align: center;
}

/* Table content */
td {
  font-size: 14px;
  color: #444;
  padding: 10px;
  border-bottom: 1px solid #e0d4cb;
  border: 2px solid black;
  text-align: center;
}

/* First column (Bil) */
td.bil {
  width: auto;
  font-weight: bold;
  color: #815B5B;
}

/* Alternate row colors */
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: white;
}

/* Row hover effect */
tr:hover {
  background-color: #f0e9e2;
  cursor: pointer;
}

.button {
  margin-top: 30px;
  margin-bottom: -10px;;
}

.button .upload-button {
  display: inline-flex; 
  align-items: center; 
  padding: 8px 12px; 
  background: #E5E1DA; 
  color: black; 
  border-radius: 4px; 
  text-decoration: none;
}

.button .upload-button:hover {
  background-color: #BCCCDC;
  color: black;
}

.search-box-input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 50%;
  text-align: left;
  display: block;
  font-weight: bold;
  color: #333;
  padding: 8px;
}

/* Filter select and input styles */
.filter-select {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.375rem;
  width: 20%;
  background-color: #f7fafc;
}

.filter-input {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  width: 75%;
  margin: 0.5rem;
}

.filter-delete-btn { 
  background-color: transparent;
  color: #000000;               
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 1%;
}

.filter-delete-btn:hover {
  background-color: transparent; 
  color: #000000;         
}

/* Add Filter Button */
.add-filter-btn {
  height: 10%;
  width: 20%;
  padding: 8px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flexbox;
  justify-content: center;
}

.add-filter-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.add-filter-btn:hover {
  background-color: #BCCCDC;
  color: black;
}

.search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/**The End of View Papers Page Settings**/

/**Edit Profile Page**/
.profile-box {
  background: white;
  padding: 30px;
  width: 825px;
  height: auto;
  max-width: 85%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.profile-box hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #050505;
  margin: 15px 0 10px;
}

.user-pic-name-box {
  display: flex;
  align-items: center;
}

.user-pic-name-box .avatar-user-pic-name-box {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(to right, #3571b4, #7b68bb, #b657aa, #e04584, #f04950);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

.user-pic-name-box .text-profile h2 {
  text-align: left;
  font-weight: 1000;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10px;
}

.user-pic-name-box .text-profile h3 {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10px;
}

.edit-user-box {
  display: flex;
  align-items: center;
}

.edit-user-box .text-user h3{
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 800;
}

.edit-user-box .text-user p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-align: left
}

.edit-user-box .hidden-input-box {
  width: 500px;
  display: flex;
  margin-left: 15px;
  font-weight: bold;
}
.edit-user-box .hidden-input-box label{
  text-align: center;
  flex-direction: row;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-display: bold;
}

.edit-user-box .hidden-input-box input[type="text"]{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 80%;                
  height: 40px;               
  padding: 10px;              
  box-sizing: border-box;
  font-size: 15px;
  margin-top: 10px;
}

.edit-user-box .hidden-input-box input[type="submit"]{
  width: 30%;
  padding: 12px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-security-ques-box {
  display: flex;
  align-items: center;
}

.edit-security-ques-box .text-sec-ques {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.edit-security-ques-box .text-sec-ques h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 800;
}

.edit-security-ques-box .text-sec-ques p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.edit-user-box img,
.edit-security-ques-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

/**The End of Edit Profile Page Settings**/

/** Security Question (securityQues.html) **/
.ques-box { /**Size of Register Box**/
  background: white;
  padding: 40px;
  width: 500px;
  height: 400px;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.ques-box h1 { /**Font size for h1**/
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 10px;
  color: black;
}

.ques-box h2 { /**Font size for h2**/
  margin-bottom: 10px;
  color: #003366;
}

.ques-box p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 30px;
}

/** Input placeholder **/
.ques-box-input {
  font-family: "Georgia";
  margin-bottom: 20px;
  text-align: left;
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

/* Links */
.ques-box.submit-btn {
  color: #578FCA;
}

.ques-box.a:hover {
  color: #003366;
}

.ques-box p, b {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #444;
  margin-top: 10px;
}
/**The End of Security Question Page Settings**/

/** View Class Page Settings **/
.hiddenClassCodeBox {
  max-height: 0; 
  overflow: hidden;
  padding: 0;
  border-radius: 15px;
  flex: 1 1 300px;
  max-width: 320px;
  align-items: center;
  transition: 0.5s ease-in, padding 0.5s;
}

.hiddenClassCodeBox.openClassCodeBox {
  max-height: 500px;
  padding: 20px;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  flex: 1 1 300px;
  max-width: 320px;
  position: relative;
}

.hiddenClassCodeBox.openClassCodeBox label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
}
/**The End of View Class Page Settings**/

/** Upload Paper Page Settings **/
.upload-box {
  background: white;
  padding: 40px;
  width: 500px; 
  height: auto;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px; 
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  display: block;
}

.upload-box h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 15px;
  color: black;
}

.upload-field {
  font-family: "Georgia";
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.file{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: right;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
/**The End of Upload Paper Page Settings**/

/** View Class Page Settings **/
.viewclass button {
  width: 130px;
  height: 50px;
}

.no-class {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
/**The End of View Class Page Settings**/

/** Class Bar Settings **/
.sidebar a {
  position: absolute; 
  left: -80px; 
  transition: 0.3s; 
  padding: 15px; 
  width: 150px; 
  text-decoration: none; 
  font-size: 18px; 
  color: rgb(12, 12, 12); 
  border-radius: 0 5px 5px 0; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar a:hover {
  left: 0px;
}

.sidebar .dashboard {
  top: 20px;
  background-color: whitesmoke; 
}

.sidebar .people {
  top: 100px;
  background-color: whitesmoke;
}

.sidebar .class-info {
  top: 180px;
  background-color: whitesmoke;
}
/**The End of Class Bar Page Settings**/

/** View People Page (view_people.pages) **/
.viewPeople-box {
  background: whitesmoke;
  padding: 40px;
  width: 80%;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.viewPeople-box h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

.viewPeople-box h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}

.viewPeople-box p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-align: left;
}

.member-section {
  margin: 30px 0;
  text-align: center;
}

.member-section h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: 50px;
}

.member-section table {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 60%;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 15px;
}

.member-section th,
.member-section td {
  padding: 12px 16px;
}

hr{
  border: none;
  height: 0.1px;
  background-color: #333;
  margin: 20px 0;
}

.viewPapers-button {
  width: 20%;
  padding: 12px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin: 15px auto 0 auto;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
}

.viewPapers-button:hover {
  background-color: #BCCCDC;
  color: black;
}

.search-box form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-box form .input-field {
  width: 700px;
  height: 40px;
  margin-top: 23px;
}

.filter-group label {
  white-space: nowrap;
  margin-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.filter-group select {
  width: 200px;
}
.view-ppl-submit {
  width: 100px;
  padding: 8px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.view-ppl-submit:hover {
  background-color: #BCCCDC;
  color: black;
}

/** Class Page Settings **/
.class-title-box { /**Size of Register Box**/
  background: white;
  padding: 40px;
  width: 60%;
  height: auto;
  max-width: 60%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.class-title-box h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

.class-title-box h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100px;
  font-size: 18px;
  text-align: left;
}

.class-title-box p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-align: left;
  color: gray;
}

.class-title-box img{
  height: 200px;
  width: 2500px;
}

.answer-board-box{
  background: white;
  padding: 20px;
  width: 60%;
  height: auto;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding-left: 30px;
}

.answer-board-box p{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.answer-board-box b{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.no-answer-board{
  background: white;
  padding: 20px;
  width: 60%;
  height: auto;
  max-width: 60%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.no-answer-board p{
  font-family: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-container{
  display: block;
}

.create-ans-board {
  width: 300px;
  padding: 12px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.create-ans-board:hover {
  background-color: #BCCCDC;
  color: black;
}
/** The End of Class Page Settings **/

/** Setup Answer Field Page **/
.setup-box{
  background: white;
  padding: 40px;
  width: auto;
  height: auto;
  max-width: 90%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.setup-box h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 15px;
  color: black;
  text-align: left;
}

.setup-box h2 {
  margin-bottom: 30px;
  color: #003366;
}

.setup-box p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-align: left;
  margin-bottom: 1rem;
}

.setup-box label {
  font-family: "Georgia";
  margin-bottom: 20px;
  text-align: left;
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.setup-delete-btn { 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  color: #000000;               
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 1%;
}

.setup-delete-btn:hover {
  background-color: transparent; 
  color: #000000;         
}

/* Input placeholder */
.answer-fields {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
}

.answer-fields input{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.mcq-setup {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: auto;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mcq-option {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mcq-option .option {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 0;
}

.mcq-option input[type="radio"] {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.mcq-option input[type="text"] {
  flex-grow: 1;
  min-width: 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

/** The End of Setup Answer Field Page Settings **/

/** Class Info Page **/
.copy-container {
    position: relative;
    display: inline-block;
}

.copy-container img {
    cursor: pointer;
    width: 50px;
    margin-left: 10px;
}

.copy-container .tooltip {
    visibility: hidden;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 0.8rem;
}

.copy-container.show-tooltip .tooltip {
    visibility: visible;
    opacity: 1;
}

.copy-container2 {
    position: relative;
    display: inline-block;
}

.copy-container2 img {
    cursor: pointer;
    width: 24px;
    margin-left: 10px;
}

.copy-container2 .tooltip2 {
    visibility: hidden;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 0.8rem;
}

.copy-container2.show-tooltip .tooltip2 {
    visibility: visible;
    opacity: 1;
}

.class-code-box {
  background: white;
  padding: 40px;
  width: 60%;
  height: auto;
  max-width: 60%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.class-code-box h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

.class-code-box .classCode {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

.class-code-box p {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
}

.class-code-box .or {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.show-class-code {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
}

.show-class-link {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
}

.show-class-link #joinLink {
  width: 400px;
  text-align: center;            
  vertical-align: middle;       
  height: 40px;                  
  line-height: 40px;             
  font-size: 18px;              
  padding: 0; 
}

.edit-box {
  background: white;
  padding: 40px;
  width: 60%;
  height: auto;
  max-width: 60%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.edit-box h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

.edit-box p {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
}

.class-name-box,
.subject-box,
.term-box label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
  text-align: left;
}

.class-name-box label,
.subject-box label,
.term-box label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 6px;
}

#className,
#subject,
#term ,
#faculty,
#study-lvl,
#subject-id,
#subject-desc {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

#editClass {
  width: 40%;
  padding: 12px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

#editClass:hover {
  background-color: #BCCCDC;
  color: black;
}
/** The End of Class Info Page Settings **/

/** View Subject Page **/

/* Container for subject information */
.subjectinfo-box {
  background: white;
  padding: 40px;
  width: 1000px;
  height: auto;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Page heading */
.subjectinfo-box h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 15px;
  color: black;
}

/* Centering the table container */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* Table styles */
table {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  border-collapse: collapse;
  background-color: whitesmoke;
  border-radius: 15px;
}

/* Optional caption style */
caption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
  padding: 10px;
}

/* Table header */
th {
  background-color: lightgrey;
  color: black;
  padding: 10px;
  font-size: 15px;
  border: 2px solid black;
  text-align: center;
}

/* Table data */
td {
  font-size: 14px;
  color: #444;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

/* Alternate row background */
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: white;
}

/* Hover effect */
tr:hover {
  background-color: #f0e9e2;
  cursor: pointer;
}

/* Flash message style */
.flash-message {
  padding: 10px 15px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.addSubj-box {
  width: 70%;
  padding: 12px;
  background-color: #E5E1DA;
  color: black;
  font-family: serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.addSubj-box:hover {
  background-color: #BCCCDC;
  color: black;
}

.subjectinfo-box .btn-container {
  margin-top: 25px;
}
/**Edit Subject Page**/
.editSubject-box {
  background: white;
  padding: 40px;
  width: 750px;
  height: auto;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Page heading */
.editSubject-box h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 15px;
  color: black;
}

/**New Subject Page**/
.newSubject-box {
  background: white;
  padding: 40px;
  width: 750px;
  height: auto;
  max-width: 95%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Page heading */
.newSubject-box h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 15px;
  color: black;
}