<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='sweetalert.js' )}}"></script>
  <title>Add New Subject | MMUPastPapers</title>
</head>

<body>
<!-- Header Bar -->
{% include 'header.html' %}

  <!-- Main Content -->
  <main class="main-content">
    <div class="newSubject-box">
      <h1>Add New Subject</h1>
      <form method="POST">
        <div class="ques-box-input">
          <label for="subject_id">Subject ID:</label>
          <input type="text" name="subject_id" id="subject_id" placeholder="Enter Subject ID" pattern="[A-Za-z0-9]{5,10}">
        </div>

        <div class="ques-box-input">
          <label for="subject_desc">Subject Description:</label>
          <input type="text" name="subject_desc" id="subject-desc" placeholder="Enter Subject Description">
        </div>

        <div class="select-field">
          <label for="study_lvl">Study Level:</label>
          <select id="study_lvl" name="study_lvl">
            <option value="" disabled selected>Select Study Level</option>
            {% for level in study_levels %}
            <option value="{{ level.STUDY_LVL_ID }}">{{ level.STUDY_LVL_DESC }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="ques-box-input">
          <label for="faculty">Faculty:</label>
          <select id="faculty" name="faculty">
            <option value="" disabled selected>Select Faculty</option>
            {% for faculty in faculties %}
            <option value="{{ faculty.FACULTY_ID }}">{{ faculty.FACULTY_DESC }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="btn-container">
          <button type="button" class="btn" onclick="window.location.href='{{ url_for('view_subjects') }}'">Cancel</button>
          <button type="submit" class="btn">Add Subject</button>
        </div>
      </form>
    </div>
  </main>

  {% include 'footer.html' %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops! An error occurred.',
                            text: "{{ message }}"
                        });
                    {% elif category == 'success' %}
                        Swal.fire({
                            icon: 'success',
                            title: 'Yay! Success.',
                            text: "{{ message }}"
                        }).then(() => {
                            setTimeout(function() {
                                window.location.href = "{{ url_for('view_subjects') }}";
                            }, 1000);
                        });
                    {% endif %}
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
</body>
</html>