<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='sweetalert.js' )}}"></script>
  <script src="{{ url_for('static', filename='script.js' )}}"></script>
  <title>{{ class_data.CLASS_NAME }}</title>
</head>

  {% include 'header.html' %}
  <main class="main-content">
    {% include 'class_bar.html' %}
    <div class="student-assignment">
      <!-- Main-Content -->
      <div class="class-title-box">
        <img src="{{ url_for('static', filename='images/ppcover.png')}}">
        <h1>{{ class_data.CLASS_NAME }}</h1>
        <br>
      </div>

      {% if assignment_info %}
        {% for assignment in assignment_info %}
          <div class="assignment-box">
            <a href="{{ url_for('open_assignment', class_id='class_id', discussion_id=assignment.assignment_id) }}">
              <p><b>{{ assignment.creator }}</b> assigned a task: <b>{{ assignment.assignment_name }}</b></p>
            </a>
          </div>
        {% endfor %}
      {% else %}
          <div class="no-assignment">
            <p>No assignment assigned in your class.</p>
          </div>
      {% endif %}

      {% if session.get('roles') == 2 %}
        <div class="btn-container">
          <form action="{{ url_for('create_assignment', class_id=session.get('current_class_id')) }}" method="POST">
            <input type="submit" class="create-asgnmt" value="Create Assignment">
          </form>
        </div>
      {% endif %}
    </div>

    </main>
  {% include 'footer.html' %}
</body>
</html>