<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <!-- About Section -->
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Designed to improve MMU students' experience in accessing the past year papers.</p>
                <p>Students can access past year papers uploaded by lecturers via this application.</p>
            </div>

            <!-- Quick Links -->
            <div class="footer-section">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    {% if 'email' in session %}
                    <li><a href="/view_papers">Home</a></li>
                    {% else %}
                    <li><a href="/main">Home</a></li>
                    {% endif %}
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="footer-section">
                <h3>Contact Us</h3>
                <ul class="footer-links">
                    <li>Address: <a href=""><!--Address--></a></li>
                    <li>Telephone: <a href=""><!--Telephone number--></a></li> 
                    <li>Email: <a href=""><!--Email address--></a></li> 
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2025 MMUPastPapers. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>