<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
           <!-- Logo -->
        <div class="footer-logo">
        <img src="{{ url_for('static', filename='images/mmupplogo2.png')}}" alt="Logo" />
        </div>

            <!-- About Us -->
            <div class="footer-section">
            <h3>About Us</h3>
            <p>
                MMU Foundation's students project. 
                <br>Trimester March/April 2025 ( T2510 )
                <br><br>C SP1113 - TT3L - 3-03
            </p>
        </div>

            <!-- Directory -->
            <div class="footer-section">
                <h3>Directory</h3>
                <ul class="footer-links">
                    {% if 'email' in session %}
                    <li><a href="/view_papers">View Papers</a></li>
                    {% else %}
                    <li><a href="/main">Main</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Contact Us -->
            <div class="footer-section">
                    <h3>Contact Us</h3>
                    <b><p>Contact No.</p></b>
                    <p>No: 010-8307571 / 016-9794896 / 011-58911739</p>
                    <br>
                    <b><p>Address</p></b>
                    <i>
                        <p>Multimedia University,</p>
                        <p>Persiaran Multimedia, </p>
                        <p>63100 Cyberjaya, Selangor</p>
                        <p>Malaysia</p>
                    </i>   
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2025 MMUPastPapers. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>