<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
           <!-- Logo -->
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/mmupplogo2.png')}}" alt="Logo" />
        </div>

            <!-- About Us -->
            <div class="footer-section">
            <h3>About Us</h3>
                <p>
                    MMU Foundation's students project. 
                    <br>Trimester March/April 2025 ( T2510 )
                    <br><br>C SP1113 - TT3L - 3-03
                </p>    
        </div>

            <!-- Directory -->
            <div class="footer-section">
                <h3>Directory</h3>
                <ul class="footer-links">
                    {% if 'email' in session %}
                    <li><a href="/view_papers">View Papers</a></li>
                    <li><a href="/view_class">View Class</a></li>
                    {% if session.get('roles') == 2 %}
                        <li><a href="/view_subjects">Maintenance</a></li>
                    {% endif %}
                    {% else %}
                    <li><a href="/main">Main</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>

            <!-- Contact Us -->
            <div class="footer-section">
                    <h3>Contact Us</h3>
                    <b><p>Contact No.</p></b>
                    <p>010-8307571 / 016-9794896 / 011-58911739</p>
                    <h3>Address</h3>
                        <div class="footer-address">
                            <a href="https://www.google.com/maps/place/Multimedia+University+-+MMU+Cyberjaya/@2.9277769,101.6393255,17z/data=!3m1!4b1!4m6!3m5!1s0x31cdb6e4a9d3b7a1:0xd0f74e8ad10f1129!8m2!3d2.9277715!4d101.6419004!16zL20vMDN5MjJw?entry=ttu&g_ep=EgoyMDI1MDYwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="footer-link">
                            Multimedia University, Persiaran Multimedia, <br>63100 Cyberjaya, Selangor, Malaysia.
                            </a>
                        </div>  
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; 2025 MMUPastPapers. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>