<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js' ) }}"></script>
    </head>

    <!-- Navigation bar -->
    <header class="topbar">
        <div class="container">
            <!-- Logo -->
            <div class="logo">
                <a href="{{ url_for('view_papers') }}"><img src="{{ url_for('static', filename='images/mmupplogo.png')}}" alt="Logo" class="logo" /></a>
            </div>
            
            <!-- Menu -->
            <nav class="menu">
                <a href="{{ url_for('view_papers')}}">Papers</a>
                <a href="{{ url_for('view_class') }}">Class</a>
                {% if roles == 2 %}
                    <a href="{{ url_for('view_subjects') }}">Maintainance</a>
                {% endif %}
            </nav>

            <!-- User profile -->
            <!-- Delete this after finish decorating: Put this align to right -->
            <div class="avatar" onclick="toggleMenu()">
                {{ initials }}  
            </div>
        </div>

        <!-- Drop down after clicking user profile -->
        <div class="sub-menu-wrap" id="subMenu"> <!-- Delete this after finish decorating: inside js file, the open-menu should be used inside css also to open this menu when user image is clicked. -->
            <div class="sub-menu">
                <div class="user-info">
                    <div class="avatar-pfp">{{ initials }}</div> <!-- Same as above, but size need to be  larger -->
                    <div class="text">
                        <h3>{{ name }}</h3>
                        <i><h4 class="email">{{ email }}</h4></i>
                    </div>
                </div>
                <hr>

                <a href="{{ url_for('editProfile') }}" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/editProfile.jpg') }}">
                    <p>Edit Profile</p>
                    <span>></span>
                </a>

                <a href="{{ url_for('logout')}}" class="sub-menu-link">
                    <img src="{{ url_for('static', filename='images/logOut.jpg') }}">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </header>
{% if showAlert == True %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops! An error occurred.',
                            text: "{{ message }}"
                    });

                    {% elif category == 'success' %}
                        Swal.fire({
                            icon: 'success',
                            title: 'Yay! Success.',
                            text: "{{ message }}"
                    }).then(() => {
                        setTimeout(function() {
                        window.location.href = "{{ url_for('main') }}";
                        }, 1000);
                    });
                    {% endif %}
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
{% endif %}
</html>