<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Login | MMUPastPapers</title>
</head>

<body>
    
<!-- Header Bar -->
<header class="topbar">
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <img src="{{ url_for('static', filename='images/mmupplogo.png')}}" alt="Logo" class="logo" />
      </div>
  
      <!-- Menu -->
      <nav class="menu">
        <a href="{{ url_for('login') }}">Login</a>|
        <a href="{{ url_for('register') }}">Register</a>
      </nav>
    </div>
</header>

<!--Main Content Settings-->  
<main class="main-content"> 
  <div class="loginBox">
    <form action="/login" method="POST" id="resetForm">
    <img src="{{ url_for('static', filename='images/mmupplogo2.png')}}" alt="Logo" class="loginBox-img"><br>
        <h1>Login</h1>
      <div class="usernameBox">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter username">
      </div>
        <div class="passwordBox">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password">
      </div>
        <a href="{{ url_for('resetPassword') }}">Forgot Password?</a>
        <button type="submit">Login</button>
        <p>
        Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
        </p>
    </form>
  </div>
</main>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        {% for category, message in messages %}
          {% if category == 'error' %}
            Swal.fire({
              icon: 'error',
              title: 'Oops! An error occurred.',
              text: "{{ message }}"
            });
        
          {% elif category == 'success' %}
            Swal.fire({
              icon: 'success',
              title: 'Yay! Success.',
              text: "{{ message }}"
            });
          {% endif %}
      {% endfor %}
      </script>
    {% endif %}
{% endwith %}

</body>
</html>
