<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js' ) }}"></script>
        <script src="{{ url_for('static', filename='sweetalert.js') }}"></script>
    </head>

    <!-- Maintenance Page Sidebar -->
    <body>
        <div class="sidebar">
            <a href="{{ url_for('view_subjects') }}" class="subject">Subject</a>
            <a href="{{ url_for('view_terms') }}" class="term">Term</a>
        </div>
    </body>
</html>