<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Main | MMUPastPapers</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<!-- Header Bar -->
<header class="topbar">
  <div class="container">
    <!-- Logo -->
      <div class="logo">
        <a href="{{ url_for('main')}}"><img src="{{ url_for('static', filename='images/mmupplogo.png')}}" alt="Logo" class="logo" /></a>
      </div>

    <!-- Menu -->
    <nav class="menu">
        <a href="{{ url_for('login') }}">Login</a>|
        <a href="{{ url_for('register') }}">Register</a>
    </nav>
  </div>
</header>

<!-- Main Content -->
<main class="main-content">
  <div class="content-section">
    <div class="info-box">
      <img src="{{ url_for('static', filename='images/ppcover.png') }}" alt="Objective">
        <h3>Objective</h3>
        <p>Designed to improve MMU students' experience in accessing the past year paper</p>
    </div>
    <div class="info-box">
      <img src="{{ url_for('static', filename='images/classcover.png') }}" alt="Student & Lecturer">
        <h3>Student & Lecturer</h3>
        <p>Students can access past year papers uploaded by lecturers via this application</p>
    </div>
    <div class="info-box">
      <img src="{{ url_for('static', filename='images/aboutus.png') }}" alt="About Us">
        <h3>About Us</h3>
        <p>Build and design by Foundation students. Trimester 2510, C SP1113, TT3L / 3-03</p>
    </div>
  </div>
</main>

<!-- Footer Bar -->
{% include 'footer.html' %}

</html>
