<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>Register | MMUPastPapers</title>
    </head>

<!-- Header Bar -->
<header class="topbar">
    <div class="container">
      <!-- Logo -->
        <div class="logo">
          <img src="{{ url_for('static', filename='images/mmupplogo.png')}}" alt="Logo" class="logo" />
        </div>
  
      <!-- Menu -->
      <nav class="menu">
        <a href="{{ url_for('login') }}">Login</a>|
        <a href="{{ url_for('register') }}">Register</a>
      </nav>
    </div>
</header>

<!--Main Content Settings-->
<main class="main-content">
  <body>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        {% for category, message in messages %}
          {% if category == 'error' %}
            Swal.fire({
              icon: 'error',
              title: 'Oops! An error occurred.',
              text: "{{ message }}"
            });
          {% elif category == 'success' %}
            Swal.fire({
              icon: 'success',
              title: 'Yay! Success.',
              text: "{{ message }}"
            }).then(() => {
             setTimeout(function() {
                window.location.href = "{{ url_for('login') }}";
                }, 1000);
          });
          {% endif %}
        {% endfor %}
      </script>
    {% endif %}
  {% endwith %}
  
    <div class="registerBox">
        <img src="{{ url_for('static', filename='images/mmupplogo2.png')}}" alt="Logo" class="registerBox-img"><br>
            <h1>Register</h1>
            <form action="/register" method="POST">
                <div class="register-form-grid">
                  <div class="usernameBox">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter username" />
                  </div>
                  <div class="useridBox">
                    <label for="userid">User ID</label>
                    <input type="text" id="userid" name="userid" placeholder="Enter User ID" />
                  </div>
                  <div class="passwordBox">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" />
                  </div>
                  <div class="passwordBox">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" />
                  </div>
                </div>
                <div class="radio-group">
                  <b><i><label for="user_type">User Type</label></i></b><br>
                  <input type="radio" name="user_type" value="student"> Student<br>
                  <input type="radio" name="user_type" value="lecturer"> Lecturer<br>
                </div>
                <button type="submit">Register</button>
              </form>
            <p>
                Already have an account? <a href="{{ url_for('login') }}">Login here</a>
            </p>
        </div>
    </body>
</html>