<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MMUPastPapers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('templates', filename='script.js') }}"></script>
</head>

<body class="bg-gray-50 text-gray-800">

<!-- Header Bar -->
<header class="topbar">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <img src="{{ url_for('static', filename='images/mmupplogo.png')}}" alt="Logo" class="logo" />
    </div>

    <!-- Menu -->
    <nav class="menu">
      <a href="{{ url_for('login') }}">Login</a>|
      <a href="{{ url_for('register') }}">Register</a>
    </nav>
  </div>
</header>

<div class="loginBox">
  <h2>Login</h2>
  <form action="/resetPassword" method="POST">
    <div class="input-field">
      <label for="userID">User ID</label>
      <input type="text" id="userID" name="userID" placeholder="User ID" required>
    </div>
    <div class="input-field">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
    </div>
    <div class="input-field">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
    </div>
    <div class="select-field">
      <label for="securityQuestion">Please select your security question:</label>
      <select id="securityQuestion" name="securityQuestion" required>
        {% for q in questions %}
        <option value="{{ q.SECURITY_QUES_ID }}">{{ q.SECURITY_QUES_DESC }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="input-field">
      <label for="securityAnswer"></label>
      <input type="text" id="securityAnswer" name="securityAnswer" placeholder="Enter your security question answer.">
    </div>
    <button type="submit">Login</button>
  </form>

</body>
</html>