<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MMUPastPapers</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg-gray-50 text-gray-800">

<!-- Header Bar -->
<header class="topbar">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <img src="mmupplogo.png" alt="Logo" class="logo" />
    </div>

    <!-- Menu -->
    <nav class="menu">
      <a href="login.html">Login</a>|
      <a href="register.html">Register</a>
    </nav>
  </div>
</header>

  <!-- Main Content -->
  <div class="container">
    <form action="">
        <h2>Reset Password</h2>
        <label for="username">Username</label>
        <input type="text" id="username" class="username" placeholder="Username">

        <label for="new_pass">New Password</label>
        <input type="password" id="new_pass" class="new_pass" placeholder="New Password">

        <label for="confirm_pass">Confirm Password</label>
        <input type="password" id="confirm_pass" class="confirm_pass" placeholder="Confirm Password">

        <input type="submit" value="Reset">
    </form>
  </div>

</body>
</html>