<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <title>Edit Profile | MMUPastPapers</title>
    </head>
    
    <body>
        <!-- Header -->
        {% include 'header.html' %}

        <!-- Main content -->
        <main class="main-content">
            <div class="ques-box">
            <h1>Edit Security Questions</h1>
            {% if registerStatus == 1 %}
            <p>Setup your security questions first time!</p>
            {% endif %}
            <form method="POST" action="/securityQues">
                    {% for qa in user_qa %}
                    <div class="ques-box-input">
                        <label for="answer">{{ qa.question or '' }}</label>
                        <input type="text" name="{{ qa.id }}" id="{{ qa.id }}" placeholder="Enter your answer" class="answer" value="{{ qa.answer or '' }}">
                    </div>
                    {% endfor %}
                <button type="submit" id="submit-btn" class="submit-btn" value="Edit">Edit</button>
            </form>
            </div>
        </main>


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops! An error occurred.',
                                text: "{{ message }}"
                            });
                        {% elif category == 'success' %}
                            Swal.fire({
                                icon: 'success',
                                title: 'Yay! Success.',
                                text: "{{ message }}"
                            }).then(() => {
                                setTimeout(function() {
                                    {% if registerStatus == 1 %}
                                    window.location.href = "{{ url_for('view_papers') }}";
                                    {% elif registerStatus == 2 %}
                                    window.location.href = "{{ url_for('logout') }}";
                                    {% endif %}
                                }, 1000);
                            });
                        {% endif %}
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}

<!-- Footer Bar -->
{% include 'footer.html' %}
    </body>
</html>