<html>
    <head>
        <script src="{{ url_for('static', filename='sweetalert.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops! An error occurred.',
                                text: "{{ message }}"
                        });
        
                        {% elif category == 'success' %}
                            Swal.fire({
                                icon: 'success',
                                title: 'Yay! Success.',
                                text: "{{ message }}"
                        }).then(() => {
                            setTimeout(function() {
                            window.location.href = "{{ url_for('main') }}";
                            }, 1000);
                        });
                        {% endif %}
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}
    </body>
</html>