<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>Upload Paper | MMUPastPapers</title>
    </head>
    
    <body>
        <!-- Header Bar -->
        {% include 'header.html' %}

        <main class="main-content">
            <div class="upload-box">
                <h1>Upload New Past Paper</h1>
                    <form action="upload_paper" method="post" enctype="multipart/form-data">
                        <label for="paper_desc">Paper Description:</label>
                        <input type="text" name="paper_desc" required><br>

                        <label for="term_id">Term: </label>
                        <select class="text-box" name="term_id" id="term_id" required>
                            <option value="">--Select a Term--</option>
                            {% for term in terms %}
                                <option value="{{ term.TERM_ID }}">{{ term.TERM_ID }} - {{ term.TERM_DESC }}</option>
                            {% endfor %}
                        </select>
            
                        <br>

                        <label for="file">Uplaod File:</label>
                        <input class="button" type="file" name="file" accept=".pdf" required><br>

                        <input class="button" type="submit" value="Upload Paper">
                    </form>
            </div>
        </main>

        <!-- Footer Bar -->
        {% include 'footer.html' %}


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops! An error occurred.',
                                text: "{{ message }}"
                            });
                        {% elif category == 'success' %}
                            Swal.fire({
                                icon: 'success',
                                title: 'Yay! Success.',
                                text: "{{ message }}"
                            }).then(() => {
                                setTimeout(function() {
                                    window.location.href = "{{ url_for('view_papers') }}";
                                }, 1000);
                            });
                        {% endif %}
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}
    </body>
    