<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='sweetalert.js' )}}"></script>
  <script src="{{ url_for('static', filename='script.js' )}}"></script>
  <title>View Class | MMUPastPapers</title>
</head>

<body>
  <!-- Header Bar -->
  {% include 'header.html' %}

  <!-- Main Content -->
  <main class="main-content">
    <div class="viewclass">
      <button class="btn" onclick="showClassCodeInput()">Join Class</button>
      <br>
      <center>
      <div class="hiddenClassCodeBox" id="classCodeBox">
        <div class="openClassCodeBox">
          <form action="/joinClass" method="POST">
            <label>Enter Class Code:</label>
            <input type="text" name="classCode" id="classCode" placeholder="Enter class code" class="classCode">
            <button type="submit" name="submitClassCode" id="submitClassCode" class="submitClassCode" value="Join">Submit</button>
          </form>
        </div>
      </div>
      </center>

      {% if session.get('roles') == 2 %}
        <a href="{{ url_for('createClass') }}">
          <button class="btn">Create Class</button>
        </a>
      {% endif %}

      <div class="content-section">
        {% if records %}
          {% for record in records %}
            <div class="info-box" id="{{ record.classID }}">
              <a href="{{ url_for('open_class', class_id=record.classID) }}">
                <img src="{{ url_for('static', filename='images/ppcover.png') }}" alt="Class Cover">
                <b><p>{{ record.className }}</p></b>
                <p>Lecturer/Instructor: {{ record.lecturerName }}</p>
                <p>Term: {{ record.termID }}</p>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p class="no-class">You haven't join any class yet!</p>
        {% endif %}
      </div>
    </div>
  </main>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <script>
        var classCode = "{{ classCode }}";
        console.log(classCode);
        {% for category, message in messages %}
          {% if category == 'error' %}
            Swal.fire({
              icon: 'error',
              title: 'Oops! An error occurred.',
              text: "{{ message }}"
            });
          {% elif category == 'success' %}
            Swal.fire({
              icon: 'success',
              title: 'Yay! Success.',
              text: "{{ message }}"
            }).then(() => {
              setTimeout(function() {
                window.location.href = "/open_class/" + classCode;
              }, 1000);
            });
          {% endif %}
        {% endfor %}
      </script>
    {% endif %}
  {% endwith %}

  <!-- Footer Bar -->
  {% include 'footer.html' %}
</body>
</html>
