<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>View Papers | MMUPastPapers</title>
</head>

<body>
    
<!-- Header Bar -->
{% include 'header.html' %}

  <!-- Main Content -->
  <main class="main-content">
    <div class="table-container">
      <!--upload button-->
      <div class="Button">
        <a href="{{ url_for('upload_paper') }}" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/>
          </svg>
          Upload Paper
        </a>
      </div>

      <table>
        <caption>View Past Papers</caption>
        <thead>
          <tr>
            <th>Paper ID</th>
            <th>Term ID</th>
            <th>File Name</th>
            <th>Description</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if pastpapers_info %}
            {% for paper in pastpapers_info %}
              <tr>
                <td class="bil">{{ paper.PAPER_ID }}</td>
                <td>{{ paper.TERM_ID }}</td>
                <td>{{ paper.FILENAME }}</td>
                <td>{{ paper.PAPER_DESC }}</td>
                <td>
                  <a href="{{ url_for('view_paper', paper_id=paper.PAPER_ID) }}" target="_blank"><img src="{{ url_for('static', filename='images/view.png')}}" alt="view" /></a>
                </td>
                <td>
                  <a href="{{ url_for('download_paper', paper_id=paper.PAPER_ID) }}"><img src="{{ url_for('static', filename='images/download.png')}}" alt="download" /></a>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="5">No past year papers found.</td>
            </tr>
          {% endif %}
        </tbody>
        
      </table>
    </div>
  </main>

<!-- Footer Bar -->
{% include 'footer.html' %}
</body>
</html>