<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <title>Terms | MMUPastPapers</title>
    </head>
    <body>
        {% include 'header.html' %}
        <main class="main-content">
            {% include 'maintenance_bar.html' %}
            <div class="table-container">
                <div class="terminfo-box">
                    <h1>Edit Terms Info</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Term ID</th>
                                <th>Term Description</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for term in terms %}
                        <tr>
                            <td class="bil">{{ term.TERM_ID }}</td>
                            <td>{{ term.TERM_DESC }}</td>
                            <td>
                                <a href="/edit_term/{{ term.TERM_ID }}">
                                    <img src="{{ url_for('static', filename='images/edit.png') }}" alt="Edit Term">
                                </a>
                            </td>
                            <td>
                                <form method="POST" action="{{ url_for('delete_term', term_id=term.TERM_ID) }}" id="delete-form-{{ term.TERM_ID }}">
                                    <img src="{{ url_for('static', filename='images/delete.png') }}" alt="Delete Term" title="Delete" onclick="confirmDelete('{{ term.TERM_ID }}')">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <div class="btn-container">
                        <a href="{{ url_for('add_term') }}" class="btn">Add New Term</a>
                    </div>
                </div>
            </div>
        </main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <script>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops! An error occurred.',
                                text: "{{ message }}"
                            });
                        {% elif category == 'success' %}
                            Swal.fire({
                                icon: 'success',
                                title: 'Yay! Success.',
                                text: "{{ message }}"
                            }).then(() => {
                                setTimeout(function() {
                                    window.location.href = "{{ url_for('login') }}";
                                }, 1000);
                            });
                        {% endif %}
                    {% endfor %}
                </script>
            {% endif %}
        {% endwith %}

        <script>
            function confirmDelete(subjectId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('delete-form-' + subjectId).submit();
                    }
                });
            }
        </script>

        {% include 'footer.html' %}
    </body>
</html>
